<div class="container mt-5">
    <h2>Bienvenido a UCU Salud</h2>
    
    <div class="card">
      <div class="card-header">
        Selecciona la opción
      </div>
      <div class="card-body">
        <div class="btn-group" role="group" aria-label="Opciones">
          <button type="button" class="btn btn-primary" (click)="navigateTo('/cambiar-periodo')">Cambiar Periodo</button>
          <button type="button" class="btn btn-success" (click)="navigateTo('/registered-form')">Llenar Formulario</button>
        </div>
      </div>
    </div>
  </div>
  