<!-- dashboard.component.html -->

<div class="container mt-5">
    <h2>Bienvenido al Dashboard</h2>
    <p>Gracias por ser parte de la campaña de actualización de datos de la UCU.</p>
  
    <!-- Botones de navegación -->
    <div class="row mt-4">
      <div class="col-md-4">
        <a routerLink="/registered-form" class="btn btn-primary btn-block">Actualizar Datos</a>
      </div>
      <div class="col-md-4">
        <a routerLink="/dashboard" class="btn btn-info btn-block">Ver Dashboard</a>
      </div>
      <div class="col-md-4">
        <a routerLink="/signup-form" class="btn btn-success btn-block">Alta Funcionario</a>
      </div>
    </div>
  </div>
  