<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 Register-btn" (click)="showRegisterForm()">
      Register
    </div>

    <div class="col-md-6 Login-btn" (click)="showLoginForm()">
      Login
    </div>
  </div>

  <div *ngIf="showRegister" class="row">
    <div class="col-md-6 offset-md-3">
      <form>
        <input type="text" placeholder="Usuario" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
        <input type="password" placeholder="Contraseña" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">

        <button class="col-md-6 Register-btn" type="button" (click)="Register()">Registro</button>
      </form>
    </div>
  </div>

  <div *ngIf="showLogin" class="row">
    <div class="col-md-6 offset-md-3">
      <form>
        <input type="text" placeholder="Usuario" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
        <input type="password" placeholder="Contraseña" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">

        <button class="col-md-6 Login-btn" type="button" (click)="Login()">Ingresar</button>
      </form>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Bienvenido a UCU Salud</h5>
      <p class="card-text">Estamos aquí para ayudarte en tu bienestar.</p>
      <p class="card-text" id="texto-rojo">Por favor, regístrate o ingresa para poder utilizar la aplicación.</p>
    </div>
  </div>
</div>