.container-fluid {
    padding: 20px;
}

.container {
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.col-md-6 {
    cursor: pointer;
    padding: 10px;
    text-align: center;
    color: #fff;
}

.Register-btn {
    background-color: #3498db;
}

.Register-btn:hover {
    background-color: #2980b9;
}

.Login-btn {
    background-color: #2ecc71;
}

.Login-btn:hover {
    background-color: #27ae60;
}

form {
    margin-top: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.card {
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-text {
    color: #555;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#texto-rojo{
    color: green;
}